.menu {
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
	background-color: #1E90FF;
	font-size: 22px;
}
.menu>li>a {
	color: white;
}
.header>h1 {
	margin: 10px;
}
.menu>li {
	float: left;
}

.content {
	margin: 30px;
}

.error {
	font-weight: bold;
}

li.elemento-menu:hover {
	background-color: #0075ea;
}

li.elemento-menu>a {
	display: block;
	padding: 20px;
}